<div class="card">
    <div class="card-body">
        <div class="form-register text-center">
            <form class="form-register">
                <div class="form-group">
                    <div class="mb-5">
                        <h1 class="h3 font-weight-normal">Verify Your Email Address</h1>
                        <p>
                            Already a user? <a [routerLink]="['/login']">Click here to Login</a>.
                        </p>
                    </div>

                    <app-errors [errors]="errors"></app-errors>

                    <p>
                        A verification email has been sent<span *ngIf="emailAddress"> to <b>{{emailAddress}}</b></span>. Please follow the instruction to verify your email address.
                    </p>
                </div>

                <ng-container *ngIf="emailAddress">
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" (click)="onSubmit()" [disabled]="!clickableSubmit && (errors === undefined || errors.length === 0)">Resend Email</button>
                    </div>
                </ng-container>

                <ng-container *ngIf="!emailAddress">
                    <div>
                        Your email address could not be loaded at this time. Please <a [routerLink]="['/login']">Click here to Login</a> again.
                    </div>
                </ng-container>
            </form>
        </div>
    </div>
</div>